/* RESET */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

.flex-container {
    display: flex;
}

ul {
    list-style-type: none;


}

li a {
    text-decoration: none;
    color: white;
    font: inherit;
}

.wrapper {
    align-items: center;
    /* debug variable */
    min-height:5rem;
}

/* HEADER */

header {
    background-color: rgb(37 94 233);

}

.navbar {
    display: flex;
    min-height: 3.125rem;
    color: white;
}

.nav-item {
    /* line-height: 50px; */
    font-size: 0.7rem;

}

.logo {
    width: calc(100% / 4);
    align-items: flex-start;
    
}

 .logo-nav-item {
    align-items: center;
 }

 .logo-img {
    width:7rem;
 }

.menu {
    width: calc(100% / 2);
}

.list-menu {
    gap:10px;
    justify-content:center;
    margin-top:10px;
    
}

.login {
    width: calc(100% / 4);
    text-align: right;
}

.login a {
    display: inline-block;
    border-radius: 12px;
    background-color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 0.7rem;
}


.hero {
    padding:50px;
    align-items: center;
    justify-content: center;
    background-image: url(/img/jumbo.png);
    background-size:cover;
    background-repeat:no-repeat;
    color: white;
    text-align: center;
}


.hero-content {
    width:60%;
 
}

.hero-title {
    margin-bottom: 30px;
    font-size: 2rem;
}

.hero-paragraph {
    line-height: 1.2rem;
    font-size: 0.7rem;
}

.anchor {
    display: inline-block;
    border-radius: 15px;
    text-decoration: none;
    padding:8px 12px;
    font-size: 0.8rem;
    margin: 0.4rem;

}

.download-mac {
    background-color: white;
}

.download-windows {
    background-color: rgb(35 39 42);
    color: white;
}
/* MAIN */

/* sections */
.section {
    padding:50px 0;
    justify-content: center;
    align-items: center;
}



.gray-div {
    /* debug variabel */
    background-color: lightgrey;

}


.azure-div {
    width:60%;
    /* debug variable */
    min-height:400px;
    background-color: lightblue;
    

}

.pink-div{
    width: 40%;
    /* debug variable */
    min-height: 400px;
    background-color: pink;
}
 /* /sections */


 /* main-content */


 .main-box {
    width:100%;
    /* debug variable */
    min-height: 600px;
    background-color: green;
   

 }

 /* /main-content */


/* FOOTER */

footer {
    background-color: rgb(40, 37, 37);
  
}

.first-footer-section {
    padding:10px 0 40px 0;
    border-bottom:2px solid white
    
}


.footer-div {
    /* debug variable */
    min-height: 400px;
    
}

.big {
    background-color: pink;
    width: calc((100% / 6)*2);
    


}

.small {
    width: calc(100% / 6);
    background-color: aquamarine;
}

.second-footer-section{
    padding:40px 0 0 0;

}

.footer-div-bottom {
    background-color: aquamarine;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* debug variable */
    height: 80px;
}

.footer-logo {
    font-size: 1.5rem;
    padding: 5px;
    /* debug variable */

}

.btn {
    font-size: 1.5rem;
    padding: 5px;
    /* debug variable */
}